<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUMBS!</title>
    <link rel="stylesheet" href="pages.css">
    <!-- header font -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <!-- nav-text -->
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">
    <!-- content-title -->
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">

  </head>
  <body>


  <header>
        <div class="title"><center>
        <h1>Crumbs!</h1>
        </div>
        <div class="About"><center>
          <a href="aboutus">About Us</a>
        </div>
        <div class="Cakes"><center>
          <a href="cakes">Cakes</a>
        </div>
        <div class="Cookies"><center>
          <a href="cookies">Cookies</a>
        </div>
        <div class="Muffins"><center>
          <a href="muffins">Muffins</a>
        </div>
        <div class="Commute"><center>
          <a href="commute">Commute</a>
        </div>
  </header>

<main>
  <div class="bio">
    <center><h2>About Us</h2>
    <div id="text">

    <p>Crumbs was founded with the goal of providing our customers with classic American baked goods in a warm, friendly atmosphere. By baking all our products on-site, we fill our stores with the delicious smells of fresh cakes and pies to bring back that delightful, warm feeling every time of the year. Each day, we bake everything from scratch using the finest ingredients.</p></center>
    </div>
  </div>


  <div class="location">
    <center><h2>Come and Join Us</h2>
    <div id="text">

    <p>We take pride in being located in the heart of Jamaica, Queens. We've called Queens home for 35 years. Stop by our stores in Astoria, Forest Hills and Bayside and let our smiling staff help you choose from our selection of delicious goodies. Or let us help celebrate your next birthday party, office meeting, whatever the occasion, with a cake or a dozen cupcakes. Crumbs is here to make life a little sweeter.</p>
  </div>

  </div></center>


</main>


  </body>
</html>
