<content>
    <% @@cake.each do |cake| %>
    <div class="products">
      <img src="<%= cake.img %>">
      <h2><center> <%= cake.name %> </h2>
      <li><center><%= cake.description %> </li>
        <li> <center><%= cake.price %> </li>
    </div>
     <% end %>
    </content>

  </body>
</html>
