<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUMBS!</title>
    <link rel="stylesheet" href="pages.css">
    <!-- header font -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <!-- nav-text -->
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">
    <!-- content-title -->
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">

  </head>
  <body>


  <header>
        <div class="title"><center>
        <h1>Crumbs!</h1>
        </div>
        <div class="About"><center>
          <a href="aboutus">About Us</a>
        </div>
        <div class="Cakes"><center>
          <a href="cakes">Cakes</a>
        </div>
        <div class="Cookies"><center>
          <a href="cookies">Cookies</a>
        </div>
        <div class="Muffins"><center>
          <a href="muffins">Muffins</a>
        </div>
        <div class="search"><center>
          <a href="search">Search</a>
        </div>
  </header>



  <content>
    <% @@cookie.each do |cookie| %>
    <div class="products">
      <img src="<%= cookie.img %>">
      <h2><center> <%= cookie.name %> </h2>
      <li><center><%= cookie.description %> </li>
        <li> <center><%= cookie.price %> </li>
    </div>
     <% end %>
    </content>

  </body>
</html>
