  <content>
    <% @@cookie.each do |cookie| %>
    <div class="products">
      <img src="<%= cookie.img %>">
      <h2><center> <%= cookie.name %> </h2>
      <li><center><%= cookie.description %> </li>
        <li> <center><%= cookie.price %> </li>
    </div>
     <% end %>
    </content>

  </body>
</html>
