<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="main.css">

    <!-- header font -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <!-- nav-text -->
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>CRUMBS!</title>
  </head>
  <body>
  <!-- <div class="whole"> -->
    <header>
        <div class="title"><center>
        <h1>Crumbs!</h1>
        </div>
        <div class="About"><center>
          <a href="aboutus">About Us</a>
        </div>
        <div class="Cakes"><center>
          <a href="cakes">Cakes</a>
        </div>
        <div class="Cookies"><center>
          <a href="cookies">Cookies</a>
        </div>
        <div class="Muffins"><center>
          <a href="muffins">Muffins</a>
        </div>
        <div class="Commute"><center>
          <a href="commute">Commute</a>
        </div>
    </header>

  </body>
</html>
