<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="main.css">

    <!-- header font -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <!-- nav-text -->
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>CRUMBS!</title>
  </head>
  <body>
  <!-- <div class="whole"> -->


  </body>
</html>
