


  <content>
    <% @@muffin.each do |muffin| %>
    <div class="products">
      <img src="<%= muffin.img %>">
      <h2><center> <%=muffin.name %> </h2>
      <li><center><%= muffin.description %> </li>
      <li><center><%= muffin.price %> </li>
    </div>
     <% end %>
    </content>
